<div class="row mx-auto">
  <div class="col-sm-3">
    <img class="img-fluid mx-auto my-2" src="{{site.baseurl}}/assets/images/github icon.png">
  </div>
  <div class="col-sm-9 my-auto mx-auto">
    <p> {{ site.data.about.content.description }} </p>
  </div>
</div>
<div class= "row mx-auto">
  <div class="col-sm-3">
    <div class="row">
    {% for entry in site.data.about.links %}
      <div class="col">
        <div class="d-flex justify-content-center social-buttons">
          <a href="{{ entry.link }}" class="d-flex justify-content-center">
            <i class="{{ entry.class }}"></i>
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="col-sm-9">
    <!-- space filler -->
  </div>
</div>
