<div class="standard-edges">
  <div class="row mx-auto">
    <!-- Picture -->
    <div class="col-xs-12 col-lg-3">
      <img class="img-fluid mx-auto my-2 center-image" src="{{site.baseurl}}/assets/images/github icon.png">
    </div>
    <!-- Description --> 
    <div class="col my-auto mx-auto">
      <p> {{ site.data.about.content.description }} </p>
    </div>
  </div>
  <div class= "row mx-auto">
    <!-- Social Icons -->
    <div class="col-xs-12 col-lg-3">
      <div class="row">
      {% for entry in site.data.about.links %}
        <div class="col">
          <div class="d-flex justify-content-center social-buttons">
            <a href="{{ entry.link }}" class="d-flex justify-content-center">
              <i class="{{ entry.class }}"></i>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="col">
      <!-- space filler -->
    </div>
  </div>
</div>
