<!-- Wrapper -->
<header id="navigation" class="fixed-top">
  <div id="wrapper">
    <!-- title --> 
    <nav id="title" class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid little-spacer">
        <a class="navbar-brand" href="#">{{ site.title }}</a>

        <!-- Toggle section -->  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-sm-0 ms-auto">
            
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for entry in site.data.about.links %}
                  <li><a class="dropdown-item" href={{ entry.link }}>{{ entry.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% include navbar_title.html content=site.data.about %}
            {% include navbar_title.html content=site.data.career %}
            {% include navbar_title.html content=site.data.projects %}
          </ul>
        </div>
        <!-- Toggle section -->  


      </div>
    </nav>
  </div>
</header>
