<div class="standard-edges justify-content-center">
  <div class="col-sm">
    <div class="row">
      {% for project in site.data.projects.content %}
        <div class="col-sm-12 col-lg-6 col-xl-4 col-xxl-3">  
          <h3>{{ project.title }}</h3>
          {% if project.link and project.link-text %}
          <a href="{{ project.link }}">{{ project.link-text }}</a>
          {% endif %}
          <p>{{ project.description | markdownify }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
