<div class="standard-edges justify-content-center project-container">
  <div class="col-sm">
    <div class="row justify-content-center">
      {% for project in site.data.projects.content %}
        <div class="col-sm-12 col-lg-6 col-xl-3">
          <div class="project-box">  
            <h4>{{ project.title }}</h4>
            {% if project.link and project.link-text %}
            <a href="{{ project.link }}">{{ project.link-text }}</a>
            {% endif %}
            <p>{{ project.description | markdownify }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
