<div class="standard-edges">
  <div class="col-sm">
    {% for activity in site.data.career.content %}
      <div class="row jobRow">
        <div class="col-md-3">
          <img class="img-fluid mx-auto my-2 center-image" src="assets/images/{{activity.image}}">
        </div>
        <div class="col">
          <h2>{{ activity.organization }}</h2>
          {% for role in activity.roles %}
            {% if role.subdivision %}
              <h4>{{ role.subdivision }} </h4>
            {% endif %}
            {% for time in role.dates %}
              <h5>{{ time.from }} - {{ time.to }}</h5>
            {% endfor %}
            <p>{{ role.description }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
