@import "./_mixins.scss";

$title-height: 2.5em;
$title-font-size: 1.8em;
$color-orange-pop: #FF7100;
$color-red-pop: #E81E00;
$color-bkg-blue: #2a2f4a;

body {
  @include zero-perimeter;
}

.current {
  color: green;
}

#navigation {
  position: fixed;
  background-color: $color-bkg-blue;
  font-size: $title-font-size;
  color: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: $title-height;
  line-height: $title-height;
  width: 100%;
  @include heading-font;
  nav {
    display: flex;
    //width: 50%;
    color: white;
    font-size: inherit;
    height: inherit;
  }
  #title {
    float: left;
  }
  #toc {
    float: right;
    //position: relative;
  }
  a {
    color: inherit;
    font-size: inherit;
    padding: 0em 1.5em 0em 1.5em;
    height: inherit;
    text-decoration: none;
    line-height: inherit;
  }
  p {
    margin: 0em 0em 0em 0em;
    text-align: center;
    color: inherit;
    font-size: inherit;
    padding: 0em 1.5em 0em 1.5em;
    height: inherit;
    line-height: inherit;
  }
}

#blocker {
  font-size: $title-font-size;
  z-index: 0;
  @include zero-perimeter;
  height: $title-height;
}

#banner {
  background-color: $color-red-pop;
  z-index: 0;
  @include zero-perimeter;
  height: 7em;
}

header.group_header {
  background-color: $color-bkg-blue;
  color: #FFFFFF;
  padding: 0em;
  width: 20em;
  div {
    background-color: inherit;
    color: inherit;
    h3 {
      padding: 1em 3em 1em 1em;
      margin: 0em 0em 0em 0em;
      color: inherit;
    }
    h3::after{
      content: '';
      background-color: #FFFFFF;
      display: block;
      height: 2px;
      margin: 0.325em 0 0.5em 0;
      width: 100%;
    }
  }
}
