@import "./_mixins.scss";

$title-height: 56px;
$title-font-size: 1.8em;
$color-orange-pop: #FF7100;
$color-red-pop: #E81E00;
$color-bkg-blue: #2a2f4a;

$header-text: #EEEEEE;
// Bootstrap overrides 

$dark: $color-bkg-blue;
$navbar-dark-brand-color: $header-text;

// End of Bootstrap overrides

body {
  @include zero-perimeter;
}

.current {
  color: green
}

#title {
   // height: $title-height !important;
}

/*
#navigation {
  position: fixed;
  background-color: $color-bkg-blue;
  font-size: $title-font-size;
  color: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: $title-height;
  line-height: $title-height;
  width: 100%;
  @include heading-font;
  nav {
    display: flex;
    //width: 50%;
    color: white;
    font-size: inherit;
    height: inherit;
  }
  #title {
    float: left;
  }
  #toc {
    float: right;
    //position: relative;
  }
  a {
    color: inherit;
    font-size: inherit;
    padding: 0em 1.5em 0em 1.5em;
    height: inherit;
    text-decoration: none;
    line-height: inherit;
  }
  p {
    margin: 0em 0em 0em 0em;
    text-align: center;
    color: inherit;
    font-size: inherit;
    padding: 0em 1.5em 0em 1.5em;
    height: inherit;
    line-height: inherit;
  }
}
*/

div.social-buttons a {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  font-size: 45px;
  text-decoration: none;
  i {
    font-size: inherit;
  }
  p {
    font-size: 15px;
  }
}

ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

#blocker {
  font-size: $title-font-size;
  z-index: 0;
  @include zero-perimeter;
  height: $title-height;
}

#banner {
  background-color: $color-red-pop;
  z-index: 0;
  @include zero-perimeter;
  height: 7em;
}

header.group_header {
  background-color: $color-bkg-blue;
  color: #FFFFFF;
  padding: 0em;
  div {
    background-color: inherit;
    color: inherit;
    h3 {
      padding: 1em 2em 1em 1em;
      margin: 0em 0em 0em 0em;
      color: inherit;
    }
    h3::after{
      content: '';
      background-color: #FFFFFF;
      display: block;
      height: 2px;
      margin: 0.325em 0 0.5em 0;
    }
  }
}

section.content {
  @include zero-perimeter;
  background-color: #EEEEEE;
  box-sizing: border-box;
  p {
    @include zero-perimeter;
    box-sizing: inherit;
  }
}

$container-padding-constant: 14px;
div.container {
  background-color: #DDD;
  margin-left: auto;
  margin-right: auto;
  padding-top: $container-padding-constant;
  padding-bottom: $container-padding-constant;
  padding-right: $container-padding-constant;
  padding-left: $container-padding-constant;
  //width: 1100px;
}

div.listText {
  margin-right: 20px;
  margin-left: 20px;
}
