<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body> 
    <!-- Navigation bar at the top -->
    {% include navigation.html %}
    <!-- Place the content here -->
    <div>
      <!-- Use up space behind the title  -->
      <div id=blocker>
        
      </div>
      
      <!-- Title banner --> 
      <div id=banner>
      </div>

      <!-- Where I've worked -->
      <div id=resume>
      {% assign resume_title2 = site.data.categories | where: "short", "made" | first %}
      {% include group_header.html title=resume_title2 %}
      {% include resume.html %}
      </div>

      <!-- Past projects --> 
      <div id=projects>
      {% include projects.html  %}
      {{ content }}
      </div>

      <!-- footer content -->
      <div id=bottom>
      </div>
    </div>
  </body>
</html>
