<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body> 
    <!-- Navigation bar at the top -->
    {% include navigation.html %}
    <!-- Place the content here -->
    <div id="bounds">
      <!-- Use up space behind the title  -->
      <div id=blocker>
        
      </div>
      
      <!-- Title banner --> 
      <div id=banner>
        {{ site.data.about }} 
      </div>
      
      <div>
        <!-- Where I've worked -->
        <section id=about class=content>
          <div class="container">
            {% include group_header.html content=site.data.about %}
            {% include resume.html %}
          </div>
        </section>
        
        <!-- Where I've worked -->
        <section id=resume class=content>
          <div class="container">
            {% include group_header.html content=site.data.career %}
            {% include resume.html %}
          </div>
        </section>

        <!-- Past projects --> 
        <section id=projects class=content>
          <div class="container">
            {% include group_header.html content=site.data.projects %}
            {% include projects.html %}
          </div>
        </section>

      </div>
      <!-- footer content -->
      <div id=bottom>
      </div>
    </div>
  </body>
</html>
